html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
	/*background-color: #2B78E4;*/
	background: url("../images/bag.png");
	background-repeat: repeat-x, repeat;	
	font-family: "Oxygen", "Helvetica", sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
p {
	margin: .5rem;
}
.logo {
	width: 300px;
	display: block;
	margin: 1rem auto;
}
.heading {
	color: yellow;
	text-shadow: 2px 2px 4px #101947;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}
#fields {
	margin-bottom: 1.25rem;
}
.location {
	width: 35%;
	display: inline-block;
	margin: 0 auto;		
}
.item {
	width: 55%;
	display: inline-block;
	margin: 0 auto;		
}
input {
	background-color: white;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 2px 4px;
	border: 0;
	border-radius: 2px;
	text-align: left;
	box-shadow: 2px 2px 4px #101947;
}
select {
	background-color: white;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 1px;
	border: 0;
	border-radius: 2px;
	text-align: left;
	box-shadow: 2px 2px 4px #101947;
}
button#addbutton {
	background-color: #E8D10D;
	width: 4rem;
	height: 2rem;
	font-size: 1.25rem;
	font-weight: 700;
	border: 0;
	border-radius: 2px;
	text-align: center;
	display: block;
	box-shadow: 2px 2px 4px #101947;
	margin: 1rem auto;
}
.list-area {
	display: inline-block;
	width: 90%;
	margin: .25rem auto;
}
.trash {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	color: #82030F;
	text-shadow: 1px 1px silver;
	float: left;
	padding: 0 0 2px .25rem;
	margin: 0;
}
.check {
	display: inline-block;
	vertical-align: bottom;
	font-size: 1.5rem;
	color: #298207;
	text-shadow: 1px 1px silver;
	float: right;
	padding: 0 .25rem 3px 0;
	margin: 0;
}
.entry {
	background-color: white;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 1px 0px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #101947;
	margin: .25rem auto;
}
.details {
	background-color: white;
	vertical-align: middle;
	display: inline-block;
	width: 75%;
	font-size: 1rem;
	font-weight: 700;
	padding: 0 0 5px 0;
	text-align: left;
	margin: 0 auto;
}
.details-done {
	background-color: white;
	vertical-align: middle;
	display: inline-block;
	width: 75%;
	font-size: 1rem;
	font-weight: 700;
	padding: 0 0 5px 0;
	color: silver;
	text-align: left;
	margin: 0 auto;
}
.ui-state-highlight {
	height: 2rem;
	line-height: 2rem;
}

@media screen and (min-width: 360px) {
	.logo {
		width: 350px;
	}
}

@media screen and (min-width: 500px) {
	.logo {
		width: 400px;
	}
	.location {
		width: 25%;
	}
	.item {
		width: 40%;
	}
	button#addbutton {
		width: 4rem;
	}
	.list-area {
		width: 65%;
	}
}
@media screen and (min-width: 800px) {
	.logo {
		width: 400px;
	}
	.heading {
		font-size: 1.5rem;
	}
	.location {
		width: 20%;
		font-size: 1.5rem;
	}
	.item {
		width: 35%;
		font-size: 1.5rem;
	}
	select {
		font-size: 1.5rem;
	}
	input {
		font-size: 1.5rem;
	}
	button#addbutton {
		font-size: 1.5rem;
		width: 4rem;
	}
	.entry {
		font-size: 1.5rem;
		width: 100%;
	}
	.list-area {
		width: 55%;
	}
	.details, .details-done {
		font-size: 1.5rem;
		width: 80%;
		padding: 0 0 3px 0;
	}
	.check {
		font-size: 1.5rem;
	}
	.trash {
		font-size: 1.5rem;
	}
}
@media screen and (min-width: 1200px) {
	.logo {
		width: 450px;
		margin: 2rem auto;
	}
	.location {
		width: 15%;
	}
	.item {
		width: 30%;
	}
	.list-area {
		width: 45%;
	}
	.details, .details-done {
		width: 85%;
	}
}
	











